@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1140px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 18px;
    box-shadow: 0 2px 0 0 rgba(200, 200, 200, 0.5);
}

.container1 {
    margin-left: 60px;
}

.container2 {
    margin-left: 240px;
}

.select {
    border: none;
    margin-top: 7px;
    cursor: pointer;
}

select:focus {
    outline: none;
}

.btn {
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 9px;
    margin-left: 20px;
}

.div1 {
    display: flex;
    flex-direction: row;
    margin-left: 6px;
}

.div2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.btn1 {
    border: none;
    width: 155px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
}

.btn0 {
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    list-style-type: none;
}

.container3 {
    margin-top: 40px;
    position: relative;
}

.image1 {
    width: 100%;
    border-radius: 5px;
}

.div3 {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    left: 40px;
    background-color: white;
    border-radius: 5px;
}

.div4 {
    margin-left: 30px;
    margin-top: 20px;
}

.title1 {
    font-size: 40px;
    font-weight: 900;
}

.btn2 {
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    margin-top: 20px;
}

.container4 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.image2 {
    width: 60%;
}

.div5 {
    width: 40%;
    padding: 20px;
}

.btn3 {
    border: none;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    padding: 16px 54px;
    margin-top: 20px;
    font-size: 14px;
}

.title2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.container5 {
    margin-top: 40px;
    display: flex;
}

.image3 {
    width: 60%;
}

.title3 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.btn4 {
    border: none;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    padding: 16px 54px;
    margin-top: 20px;
    font-size: 14px;
}

.div7 {
    width: 40%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.container6 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.div9 {
    width: 350px;
}

.image4 {
    width: 350px;
    height: 150px;
}

.title4 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.btn5 {
    border: none;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    padding: 16px 54px;
    margin-top: 20px;
    font-size: 14px;
}

.div10 {
    width: 350px;
    height: 150px;
}

.image5 {
    width: 350px;
    height: 150px;
}

.title5 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.btn6 {
    border: none;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    padding: 16px 54px;
    margin-top: 20px;
    font-size: 14px;
}

.div11 {
    width: 350px;
    height: 150px;
}

.image6 {
    width: 350px;
    height: 150px;
}

.title6 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.btn7 {
    border: none;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    padding: 16px 54px;
    margin-top: 20px;
    font-size: 14px;
}

.container7 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

a {
    color: inherit;
    font: inherit;
    text-decoration: none;
}

.ul li {
    list-style-type: none;
    cursor: pointer;
    margin: 8px 0;
}

.container8 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.facebook {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url('./images/fb_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.facebook:hover {
    background-position: bottom;
}

.YouTube {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url('./images/youtube_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.YouTube:hover {
    background-position: bottom;
}

.instagram {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url('./images/instagram_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.instagram:hover {
    background-position: bottom;
}

.linkedin {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url('./images/linkedin_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.linkedin:hover {
    background-position: bottom;
}

.ul1 {
    list-style-type: none;
    display: flex;
}

.AppStore {
    display: block;
    width: 150px;
    height: 42px;
    background-image: url('./images/app_store_badge.png');
}

.GooglePlay {
    display: block;
    width: 150px;
    height: 42px;
    background-image: url('./images/google_play_badge.png');
}

.container9 {
    margin-top: 50px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.container10 {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image7 {
    width: 30px;
    height: 30px;
}

.link {
    color: #006bae;
}

.container11 {
    margin-top: 50px;
}

.menu1 {
    position: relative;
}

.menu1:hover .div18 {
    display: flex;
}

.div18 {
    position: absolute;
    top: 24px;
    left: -24px;
    width: 800px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    z-index: 999;
}

.image8 {
    width: 70px;
    height: 70px;
}

.ul2 {
    list-style-type: none;
    padding: 20px;
}

.li {
    display: flex;
    align-items: center;
}

.p {
    font-size: 15px;
    padding-left: 10px;
}

.container12 {
    margin-top: 50px;
}

.title7 {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.image9 {
    width: 100%;
    margin-top: 50px;
}

.div20 {
    margin-top: 100px;
    margin-left: 90px;
    width: 500px;
}

.title8 {
    font-size: 20px;
    font-weight: bold;
}

.title9 {
    margin-top: 14px;
}

.div21 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    border-bottom: 1px solid black;
    font-size: 17px;
}

input:focus {
    outline: none;
    font-size: 1.2em;
}

.input1 {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
}

.btn8 {
    width: 200px;
    height: 40px;
    border: none;
    background-color: #ffbc0d;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
}

.container13 {
    margin-top: 50px;
}

.title10 {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.image10 {
    width: 100%;
    margin-top: 50px;
}

.div22 {
    margin-top: 100px;
    width: 800px;
}

.title11 {
    font-size: 40px;
    font-weight: bold;
}

.title12 {
    margin-top: 20px;
}

.link1 {
    color: #006bae;
    border-bottom: 2px solid #006bae;
}

.container14 {
    margin-top: 50px;
}

.title13 {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.image11 {
    width: 100%;
    margin-top: 50px; 
}

.div23 {
    margin-top: 100px;
    width: 800px;
}

.title14 {
    font-size: 35px;
    font-weight: bold;
}

.title15 {
    margin-top: 20px;
}

.title16 {
    margin-top: 20px;
}

.link2 {
    color: #006bae;
    border-bottom: 2px solid #006bae;
    cursor: pointer;
}

.div24 {
    margin-top: 90px;
    width: 500px;
}

.image12 {
    width: 500px;
}

.title17 {
    font-size: 35px;
    font-weight: bold; 
    margin-top: 20px;
}

.title18 {
    margin-top: 20px;
}

.btn9 {
    margin-top: 20px;
    border: none;
    background-color: #ffbc0d;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.div25 {
    margin-top: 90px;
    width: 500px;
}

.image13 {
    width: 500px;
}

.title19 {
    font-size: 35px;
    font-weight: bold; 
    margin-top: 20px;
}

.title20 {
    margin-top: 20px;
}

.container15 {
    margin-top: 50px;
}

.title21 {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.image14 {
    width: 100%;
    margin-top: 50px;
}

.div26 {
    display: flex;
}

.div27 {
    margin-top: 50px;
    width: 50%;
}

.title22 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.p1 {
    margin-top: 5px;
}

